/.idea/
.idea/*

cmake-build-*/
*.iws

out/

com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

.gradle
**/build/
!src/**/build/

gradle-app.setting

!gradle-wrapper.jar

!gradle-wrapper.properties

.gradletasknamecache

.project
.classpath

*.hprof
